@keyframes slide {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-150%);
    opacity: 0;
  }
  51% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slide-back {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(150%);
    opacity: 0;
  }
  51% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes scale {
  0%,
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.carousel {
  overflow: hidden;

  &__inner {
    display: flex;
    justify-content: space-around;
    &--animate-right {
      animation: slide 1s ease-in-out forwards;
    }
    &--animate-left {
      animation: slide-back 1s ease-in-out forwards;
    }
  }

  &__item {
    margin: 4rem 8rem;
    &--current {
      transform: scale(1.2);
      animation: scale 1s ease forwards;
    }
  }

  &__buttons {
    text-align: center;

    & button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      margin: 2rem;
    }
  }
}
@media only screen and (min-width: 600px) {
  @keyframes scale {
    0%,
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
}
@media only screen and (min-width: 900px) {
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-50%);
      opacity: 0;
    }
    51% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  @keyframes slide-back {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50%);
      opacity: 0;
    }
    51% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
}
