.main {
  background-color: #1c1d1f;
  background-image: url("../../assets/kebab-half-bg.png");
  background-repeat: no-repeat;
  height: 110vh;
  background-position-x: 40%;
  color: #fff;
  &__text {
    margin: 1rem;
    font-size: 2.4rem;
}
&__subtext {
    margin: 1rem 0;
    font-size: 1.6rem;
  }
  &__text-area {
    text-align: center;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.logo {
  img {
    width: 100%;
  }
}
@media only screen and (min-width: 900px) {
  .main {
    background-size: contain;

    &__text {
      margin: 1rem;
      font-size: 4.8rem;
    }
    &__subtext {
      font-size: 3rem;
    }
  }
}
